*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
/* mobile styles 768px */
.header{
    max-width: 768px;
    width: 100%;
    background-color: #DDDDDD;
    
}
.header-inner{
    max-width: 768px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 20px; */

}
.logo img{
    width: 80px;
}
.logo-txt{
    font-family: 'Roboto';
    font-size: 8px;
    color: #554d4d;
    inline-size: 90px;
    font-style: italic;
    overflow-wrap: break-word;
    opacity: 80%;
}
.about-me{
    position: relative;
    width: 230px;
}


.number{
    color: #1C1C1C;
    font-size: 90px;
    font-family: 'Poppins-extrabold';
    font-weight: bold;
    letter-spacing: 7px;
    opacity: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.aboutMe{
    color: #373737;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Poppins-extrabold';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

/* for slide */
.slider {
    max-width: 768px;
	width: 100%;
	position: relative;
    margin: auto;
}
.slider-wrapper {
	display: flex;
	overflow: hidden;
}

.slide {
	display: none;
	position: absolute;
	transform: scale(0);
	opacity: 0;
	width: 0;
	visibility: hidden;
	transition: all 0.5s;
	top: 0;
	left: -100%;
    
}
.slide.active {
	display: block;
	transform: scale(1);
    
	width: 100%;
	opacity: 1;
	visibility: visible;
	position: relative;
	left: 0;
    
}

.slide .img {
    border-radius: 50%;
    max-width: 400px;
    width: 100%;
    max-height: 400px;
	height: 100%;
	object-fit: cover;
}



.info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%,-50%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.myInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 30px;

}
.first-txt{
    font-family: 'Glacial Indifference';
    text-transform: capitalize;
    font-size: 22px;
    letter-spacing: 2px;
}
.name{
    font-family: 'Glacial Indifference bold';
    text-transform: capitalize;
    font-size: 21px;
    letter-spacing: 2px; 
}

.job-desc{
    font-family: 'Glacial Indifference';
    text-transform: capitalize;
    font-size: 17px;
    letter-spacing: 2px; 
}
.socials{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.socials img{
    width: 30px;
}

.satisfy{
    position: absolute;
    top: 90%;
    right: 50px;

}
.red{
    color: red;
    font-family: 'Montserrat-bold';
    text-transform: capitalize;
    font-size: 17px;
    letter-spacing: 2px; 
}
.clients{
    font-family: 'Montserrat-bold';
    text-transform: capitalize;
    font-size: 17px;
    letter-spacing: 2px; 
    
}
.line{
    width: 100%;
    height: 4px;
    background-color: red;
    
}

/* more about me */

.more-about-me{
    max-width: 768px;
    width: 100%;
    margin: 80px auto;
    background-color:white ;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.more-text{
    max-width: 240px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    margin: 0 auto;
}
.txt-holder{
    display: flex;
    flex-direction: column;
    max-width: 240px;
    width: 100%;
}
.more-title{
    color: #222222;
    font-family: 'Glacial Indifference bold';
    font-size: 30px;
    text-align: right;
}
.more-span{
    color: #DAAE19;
    font-size: 14px;
    text-align: right;
}

.more-img {
    margin: 20px auto;
    max-width: 200px;
    width: 100%;
}
.more-img img{
    margin: 0 auto;
    max-width: 200px;
    width: 100%;
    max-height: 400px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
}
.bio{
    color: #555555;
    font-family: 'Muli-regular';
    font-size: 15px;
    letter-spacing: 0.45px;
    text-align: right;
    margin: 33px 0 60px 0;
}
.hire{
    background-color: #E93656;
    width: 152px;
    height: 50px;
    color: white;
    font-family: 'Glacial Indifference bold';
    font-size: 15px;
    border: none;
}
.skills-and-social{
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:flex-start;
    max-width: 240px;
    width: 100%;
    min-height: 400px;
}

.skill-bar {
    width: 100%;
    height: 10px;
}
  
  .skill-bar-fill {
    height: 100%;
    background-color: #f00;
    width: 0%;
    transition: width 1s ease-in-out;
    display: inline-block;
    margin-right: 10px;
    /* position: relative; */
  }

  .more-social{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    margin-top: 50px;
    gap: 20px;
  }

  .more-social img{
    width: 30px;
}
.more-social a{
    transition: all;
    transition-duration: 2s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
    
}
.more-social a:hover{
    box-shadow: 3px 3px 10px 1px black;
    
  }

  /* contact section */
  .contact{
    margin-top: 100px;
    width: 100%;
    min-height: 100px;
    background-color: #131A36;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .contact-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    }
  .contact-info-desc{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: all;
    transition-duration: 1.5s;
    transition-delay: 0;
    transition-timing-function: ease-out;
  }

  .info-title{
    font-family: 'Glacial Indifference bold';
    color: #FFFFFF;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.75px;
    
}
  .contact-info-desc a{
    color: #DFDFDF;
    font-family: 'Muli';
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;
    
    
  }
  .hover-circle{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    position: relative;
    transition: all;
    transition-duration: 1.1s;
    transition-delay: 0;
    transition-timing-function: ease-out;
    
}
.hover-circle:hover{
    background-color: #0fa;
}
.eicon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.eicon img{
    width: 30px;
}


.contact-info-desc:hover{
    color: white;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
  }


 .service-section{
    max-width: 768px;
    width: 100%;
    margin: 30px auto;
  }
  .card-holder{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .card{
    position: relative;
    max-width: 200px;
    width: 100%;
    min-height: 300px;
    padding: 20px;
    background-color: #FAFAFA;
    text-align: center;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
  
  }
  .card img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 50px;
    height: 50px;
  }
  .card h3{
    font-family: 'Glacial Indifference bold';
    font-size: 18px;
    letter-spacing: 0.44px;
    line-height: 28px;
    color: #222222;
  }

  .card p{
    font-family: 'Muli-light';
    font-size: 12px;
    letter-spacing: 0.42px;
    line-height: 26px;
    color: #222222 ;
  }
  .card h3,
  .card p {
    margin: 0;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .card.hovered {
    background-color: #15263E;
  }
  .card.hovered img{
    display: none;
  }
  .card.hovered h3,
  .card.hovered p {
    opacity: 1;
    color: white;
  }

  /* quote section */


  
  .quotes{
    background-image: url('../icons/clip.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .quote{
    display: none;
	position: absolute;
	opacity: 0;
	width: 0;
	visibility: hidden;
	transition: all 0.5s;
	top: 0;
	left: -100%;
  }
  .quote.actives{
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;	
	opacity: 1;
	visibility: visible;
	position: relative;
	left: 0;
    
  }
.quote-txt{
    font-family: 'Roboto-light';
    font-size: 15px;
    text-align: right;
    line-height: 20px;
    letter-spacing: 0.45px;
    color: #FFFFFF;
    inline-size: 300px;
}

.quote-author{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    ;
}
.quote-p{
    color: #E93656;
    font-family: 'Roboto';
    font-size: 13px;
    letter-spacing: 0.52px;
    /* line-height: 79.17px; */
}
.quote-title{
    font-family: 'Glacial Indifference bold';
    text-transform: capitalize;
    font-size: 24px;
    letter-spacing: 0.84px; 
    /* line-height: 79.17px; */
    color: #FFFFFF;
}
  .qimage{
    width: 100px;
    height: 100px;
    border: 3px dashed white;
    border-radius: 50%;
    position: relative;
  }
  .qimage img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
  }
.button-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:3px;
    
}
.bullet{
    width: 20px;
    height: 20px;
    border: 1px solid white;
}

.bullet-active{
    border: 1px solid red;
    background-color: white;
}

/* latest projects */
.proj-sec {
    max-width: 768px;
    width: 100%;
    margin-bottom: 50px;
  }
  
  .proj-sec h2 {
    text-align: center;
    margin: 44px 0 55px 0;
    font-family: 'Glacial Indifference bold';
    font-size: 40px;
    color: #2E2E2E;
  }
  
  .latest-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
  }
  
  .filter {
    max-width: 740px;
    width: 100%;
    background-color: #15263E;
  }
  
  .button-holder {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .filter-btn {
    background: none;
    border: none;
    text-align: left;
    font-family: 'Glacial Indifference bold';
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  
  .filter-btn.active {
    background-color: red;
  }
  
  .projects {
    max-width: 735px;
    width: 100%;
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .latest-projects-div {
    max-width: 245px;
    width: 100%;
    max-height: 245px;
    height: 100%;
    position: relative;
}
  
  .latest-projects-div>img {
    max-width: 245px;
    width: 100%;
    min-height: 245px;
    height: 100%;
    object-fit: cover;
  }
  
  .project-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .proj-circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid red;
    position: relative;
  }
  .project-info img {
    margin: 10px;
    width: 40px;
    height: 40px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70% , -70%);
    
  }
  
  .project-info h3 {
    font-family: 'Glacial Indifference bold';
    font-size: 23px;
    /* margin: 0; */
    font-weight: bold;
  }
  
  .project-info p {
    font-family: 'Muli';
    font-size: 14px;
  }


  /* latest-articles */
  .latest-articles{
    max-width: 768px;
    width: 100%;
  }
  .title-box{
    max-width: 200px;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .latest-articles-info{
    color: #2ED279;
    font-family: 'Glacial Indifference bold';
    font-size: 13px; 
    text-transform: uppercase;
  }
  .latest-articles-title{
    font-family: 'Glacial Indifference bold';
    font: 70px;
    color: #2E2E2E;
  }
  .article-holder{
    width: 100%;
    margin-top: 70px;
  }
  .article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .article-txt{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
    background-color: #FAFAFA;
    max-width: 350px;
    width: 100%;
  }
  .article-txt img{
    width: 50px;
  }
  .article-txt span{
    color: #888888;
    font-family: 'Muli';
    font-size: 12px;
  }
  .article-txt h3{
    color: #161616;
    font-family: 'Glacial Indifference bold';
    font-size: 28px;
  }
  .article-txt button{
    background: none;
    border: none;
  }
  .article-date{
    max-width: 80px;
    width: 100%;
    background-color: #15263E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .article-date p{
    transform: rotate(-90deg);
    font-family: 'Glacial Indifference bold';
    font: 30px;
    color: #E93656;
  }
  .article-img{
    max-width: 300px;
    width: 100%;
    height: 100%;
  }
  .article-img img{
    max-width: 300px;
    width: 100%;
    min-height: 300px;
    height: 100%;
    object-fit:cover;
  }
  /* my team */

  .my-team{
    max-width: 768px;
    width: 100%;
    margin-top: 100px;
  }
  .clients{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:20px;
  }
.clients-desc{
  max-width: 230px;
  width: 100%;
  min-height: 230px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  position: relative;
}

.clients-desc.clients-active{
  border: 3px solid red;
}
.clients-desc img{
  max-width: 200px;
  width: 100%;
  max-height: 200px;
  height: 100%;
  object-fit: cover;
 
  
}
.clients-desc-title{
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);

}
.clients-desc:hover img {
  display: none;
}

.clients-desc:hover .clients-desc-title {
  display: flex;
  padding: 25px 0;
  opacity: 1;
  border: 3px solid red;
}
  .clients-desc-title h4{
    font-family: 'Poppins-semibold';
    font-size: 16px;
    color: #161616;
  }

  .clients-desc-title p{
    color: #626262;
    font-family: 'Roboto-light';
    font-size: 13px;
  }

  /* footer */
  footer{
    display: flex;
    flex-direction: column;
  }
  .form-holder{
    background-image: url('../icons/map.jpg');
    text-align: center;
    margin: 0px auto;
    max-width: 1920px;
    width: 100%;
    padding: 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(10);
  }
  .form-box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

 
  form{
    width: 100%;
    margin: 0 auto;
  }
  .form-title{
    margin-bottom: 30px;
  }
  .form-title h2{
    font-family: 'Jaapokki';
    font-size: 45px;
    letter-spacing: 1.35px;
    line-height: 54px;
    text-transform: uppercase;
    /* color: #FFFFFF; */
  }
  
  .form-title p{
    font-family: 'Roboto-light';
    font-size: 17px;
    /* color: #EEEEEE; */
  }

  input.required::placeholder::after {
    content: " *";
    color: red;
  }
  .form-row{
    max-width: 610px;
    width: 90%;
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
 
  .form-row input{
    max-width: 200px;
    width: 100%;
    height: 40px;
  }
  .form-txt{

    margin:0 auto;
    max-width: 610px;
    width: 90%;
  }
  .form-txt input{
    max-width: 610px;
    width: 100%;
    height: 80px;
  }

  .submit-form{
  margin-top: 30px;
  width: 187px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #e93656;
  color: #e93656;
  cursor: pointer;
  outline: none;
  font-size: 12px;
}

.submit-form:hover {
  color: white;
  background-color: #e93656;
  transition: 0.3s;
}


/* modal */

.modal {
	display: none;
	background-color: rgb(139, 194, 249);
}
.modal.active {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 400px;
	padding: 25px;
	background-color: white;
    border-radius: 15px;
	max-width: 700px;
	width: 90%;
}

.close-btn {
	padding: 5px;
	background-color: rgb(152, 166, 180);
	border: none;
	position: absolute;
	right: 10px;
	top: 10px;
}

.last-div{
  width: 100%;
  text-align: center;
  background-color: #282828;
}
.last-div-txt{
  max-width: 600px;
  margin: auto
}
.last-div h2{
  font-family: 'Poppins-extrabold';
  font-size: 55px;
  letter-spacing: 1.66px;
  color: #FFFFFF;
}

.last-div span{
  color: red;
}

.last-div p{
  font-family: 'Roboto';
  font-size: 17px;
}
.last-div-icons{
  margin: 20px 0 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.last-div-icons img{
  width: 32px;
}

.copyright{
  background-color: #171717;
  width: 100%;
  color: #FFFFFF;
  padding: 42px;
}