*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
/* mobile styles 768px */
.header{
    max-width: 768px;
    width: 100%;
    background-color: #DDDDDD;
    
}
.header-inner{
    max-width: 768px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 20px; */

}
.logo img{
    width: 80px;
}
.logo-txt{
    font-family: 'Roboto';
    font-size: 8px;
    color: #554d4d;
    inline-size: 90px;
    font-style: italic;
    overflow-wrap: break-word;
    opacity: 80%;
}
.about-me{
    position: relative;
    width: 230px;
}


.number{
    color: #1C1C1C;
    font-size: 90px;
    font-family: 'Poppins-extrabold';
    font-weight: bold;
    letter-spacing: 7px;
    opacity: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.aboutMe{
    color: #373737;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Poppins-extrabold';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

/* for slide */
.slider {
    max-width: 768px;
	width: 100%;
	position: relative;
    margin: auto;
}
.slider-wrapper {
	display: flex;
	overflow: hidden;
}

.slide {
	display: none;
	position: absolute;
	transform: scale(0);
	opacity: 0;
	width: 0;
	visibility: hidden;
	transition: all 0.5s;
	top: 0;
	left: -100%;
    
}
.slide.active {
	display: block;
	transform: scale(1);
    
	width: 100%;
	opacity: 1;
	visibility: visible;
	position: relative;
	left: 0;
    
}

.slide .img {
    border-radius: 50%;
    max-width: 400px;
    width: 100%;
    max-height: 400px;
	height: 100%;
	object-fit: cover;
}



.info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%,-50%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.myInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 30px;

}
.first-txt{
    font-family: 'Glacial Indifference';
    text-transform: capitalize;
    font-size: 22px;
    letter-spacing: 2px;
}
.name{
    font-family: 'Glacial Indifference bold';
    text-transform: capitalize;
    font-size: 21px;
    letter-spacing: 2px; 
}

.job-desc{
    font-family: 'Glacial Indifference';
    text-transform: capitalize;
    font-size: 17px;
    letter-spacing: 2px; 
}
.socials{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.socials img{
    width: 30px;
}

.satisfy{
    position: absolute;
    top: 90%;
    right: 50px;

}
.red{
    color: red;
    font-family: 'Montserrat-bold';
    text-transform: capitalize;
    font-size: 17px;
    letter-spacing: 2px; 
}
.clients{
    font-family: 'Montserrat-bold';
    text-transform: capitalize;
    font-size: 17px;
    letter-spacing: 2px; 
    
}
.line{
    width: 100%;
    height: 4px;
    background-color: red;
    
}

/* more about me */

.more-about-me{
    max-width: 768px;
    width: 100%;
    margin: 80px auto;
    background-color:white ;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.more-text{
    max-width: 240px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    margin: 0 auto;
}
.txt-holder{
    display: flex;
    flex-direction: column;
    max-width: 240px;
    width: 100%;
}
.more-title{
    color: #222222;
    font-family: 'Glacial Indifference bold';
    font-size: 30px;
    text-align: right;
}
.more-span{
    color: #DAAE19;
    font-size: 14px;
    text-align: right;
}

.more-img {
    margin: 20px auto;
    max-width: 200px;
    width: 100%;
}
.more-img img{
    margin: 0 auto;
    max-width: 200px;
    width: 100%;
    max-height: 400px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
}
.bio{
    color: #555555;
    font-family: 'Muli-regular';
    font-size: 15px;
    letter-spacing: 0.45px;
    text-align: right;
    margin: 33px 0 60px 0;
}
.hire{
    background-color: #E93656;
    width: 152px;
    height: 50px;
    color: white;
    font-family: 'Glacial Indifference bold';
    font-size: 15px;
    border: none;
}
.skills-and-social{
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:flex-start;
    max-width: 240px;
    width: 100%;
    min-height: 400px;
}

.skill-bar {
    width: 100%;
    height: 10px;
}
  
  .skill-bar-fill {
    height: 100%;
    background-color: #f00;
    width: 0%;
    transition: width 1s ease-in-out;
    display: inline-block;
    margin-right: 10px;
    /* position: relative; */
  }

  .more-social{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    margin-top: 50px;
    gap: 20px;
  }

  .more-social img{
    width: 30px;
}
.more-social a{
    transition: all;
    transition-duration: 2s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
    
}
.more-social a:hover{
    box-shadow: 3px 3px 10px 1px black;
    
  }

  /* contact section */
  .contact{
    margin-top: 100px;
    width: 100%;
    min-height: 100px;
    background-color: #131A36;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .contact-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    }
  .contact-info-desc{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: all;
    transition-duration: 1.5s;
    transition-delay: 0;
    transition-timing-function: ease-out;
  }

  .info-title{
    font-family: 'Glacial Indifference bold';
    color: #FFFFFF;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.75px;
    
}
  .contact-info-desc a{
    color: #DFDFDF;
    font-family: 'Muli';
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;
    
    
  }
  .hover-circle{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    position: relative;
    transition: all;
    transition-duration: 1.1s;
    transition-delay: 0;
    transition-timing-function: ease-out;
    
}
.hover-circle:hover{
    background-color: #0fa;
}
.eicon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.eicon img{
    width: 30px;
}


.contact-info-desc:hover{
    color: white;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
  }

 .service-section{
    max-width: 768px;
    width: 100%;
    margin: 30px auto;
  }
  .card-holder{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .card{
    position: relative;
    max-width: 200px;
    width: 100%;
    min-height: 250px;
    padding: 20px;
    background-color: #FAFAFA;
    text-align: center;
    overflow: hidden;
  }
  
  .card h3{
    font-family: 'Glacial Indifference bold';
    font-size: 18px;
    letter-spacing: 0.44px;
    line-height: 28px;
    color: #222222;
  }

  .card p{
    font-family: 'Muli-light';
    font-size: 12px;
    letter-spacing: 0.42px;
    line-height: 26px;
    color: #222222 ;
  }

  /* quote section */


  
  .quotes{
    background-image: url('../icons/clip.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .quote{
    display: none;
	position: absolute;
	opacity: 0;
	width: 0;
	visibility: hidden;
	transition: all 0.5s;
	top: 0;
	left: -100%;
  }
  .quote.actives{
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;	
	opacity: 1;
	visibility: visible;
	position: relative;
	left: 0;
    
  }
.quote-txt{
    font-family: 'Roboto-light';
    font-size: 15px;
    text-align: right;
    line-height: 20px;
    letter-spacing: 0.45px;
    color: #FFFFFF;
    inline-size: 300px;
}



.quote-title{
    font-family: 'Glacial Indifference bold';
    text-transform: capitalize;
    font-size: 24px;
    letter-spacing: 0.84px; 
    line-height: 79.17px;
    color: #FFFFFF;
}
  .qimage{
    width: 100px;
    height: 100px;
    border: 3px dashed white;
    border-radius: 50%;
    position: relative;
  }
  .qimage img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
  }
.button-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:3px;
    
}
.bullet{
    width: 20px;
    height: 20px;
    border: 1px solid white;
}

.bullet-active{
    border: 1px solid red;
}

